.Department{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 16px 25px;
    border: 1px solid black;
    cursor: pointer;
}

.infoContainer{
    display: flex;
    flex-direction: column;
}

.nameDepartment{
    font-size: 20px;
    font-weight: 400;
}

.statusDepartment{
    display: flex;
    flex-direction: column;
}

.riskDepartment{
    font-size: 15px;
    font-weight: 900;
}

.messageDepartment{
    font-size: 15px;
    font-weight: 900;
}

svg {
    width: 32px;
    height: 32px;
}