.navbar{
    height: 112px;
    width: auto;
    background-color: #000000;
    display: flex;
    align-items: center;
    padding: 0 135px;
    justify-content: space-between;
}

.links{
    font-size: 24px;
    display: flex;
    gap: 20px;
}

.navButtons{
    height: auto;
    margin: 8px 16px;
    color: #888888;
    text-decoration: none;
}

.navButtons:hover{
    color: #FFFFFF;
}

img{
    margin-bottom: 16px;
}