.workerDashboard{
    width: auto;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.numberWorker{
    width: 8%;
    font-size: 15px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

.nameWorker{
    font-size: 15px;
    font-weight: 800;
}

.positionContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.positionWorker{
    font-size: 15px;
    font-weight: 700;
}

.riskWorker{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 16px;
}

.riskMessage{
    width: 50px;
    font-size: 15;
    font-weight: 600;
    text-align: center;
}